//color
.cbody,  .cbody-hover:hover{  color: @colorbody; }
.ctext,  .ctext-hover:hover{  color: @colortext; }
.ctitle, .ctitle-hover:hover{ color: @colortitle; }
.clink,  .clink-hover:hover{  color: @colorlink; }



//border
.bdbody{  border: 1px solid @colorbody; }
.bdtext{  border: 1px solid @colortext; }
.bdtitle{ border: 1px solid @colortitle; }
.bdlink{  border: 1px solid @colorlink; }



//background
.bgbody,  .bgbody-hover:hover{  background-color: @colorbody; }
.bgtext,  .bgtext-hover:hover{  background-color: @colortext; }
.bgtitle, .bgtitle-hover:hover{ background-color: @colortitle; }
.bglink,  .bglink-hover:hover{  background-color: @colorlink; }



//opacity
.op0{.opacity(0);}
.op1{.opacity(1);}



//transition
.trs{.transition(all .2s ease-in);}